#wpcontent{
  padding-left: 0 !important;
}

/* Admin Body - Start -------------------------------------------------------------------- */

.daextlwcnf-admin-body{

  padding: 24px 32px;

}

/* Admin Body - End -------------------------------------------------------------------- */

.daext-display-none{
  display: none;
}